.nav{
    background-color: #D1E4FC;
}

.sidenav {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .slidingcontent {
    width: 50vw; /* Half of the screen width */
    right: 0; /* Start from the right edge */
    position: absolute;
    top: 0;
    transform: translateX(100%); /* Initially off-screen to the right */
    transition: transform 0.3s; /* Smooth transition effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  /* .sliding-content.visible {
    transform: translateX(0); 
  } */